<div class="banner"><pre aria-label="a large ASCII art banner reading nichobi.com">
                .            .
                :            :
  :.··. ·  .··· :.·.   .··.  :.·.  ·     .···  .··.  :.··..··.
  :   : : :     :   : :    : :   : :    :     :    : :   :   :
  :   : :  ·... :   :  ·..·  :..·  : ::  ·...  ·..·  :   :   :</pre>
<div class="hdivider">----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</div>
</div>
