<div class="sidenav">
<details open>
<summary class=hamburger><span class="open">Minimise</span><span class="closed">Expand</span> links</summary>
<div class="hdivider">---------------------------------------------------------------------------</div>
<pre aria-label="ASCII art of a little cat in a circle">
        ___
     .´/\_/\`.
    . : 0.0 : .
    . `:   :´ .
     . :; ;: ,
      ` --- ´
   Nicholas Boyd
     Isacsson
     (nichobi)
</pre>
<nav aria-labelledby="site-nav">
<div class="hdivider">---------------------------------------------------------------------------</div>
<h2 id="site-nav">Site contents</h2>
<div class="hdivider">---------------------------------------------------------------------------</div>
<ul>
  <li><a href="https://nichobi.com">Home</a></li>
  <li><a href="https://ascii.nichobi.com">ASCII Art</a></li>
  <li><a href="https://blog.nichobi.com">Blog</a></li>
</ul>
</nav>
$if(toc)$
<nav aria-labelledby="toc-nav">
<div class="hdivider">---------------------------------------------------------------------------</div>
<h2 id="toc-nav">Page contents</h2>
<div class="hdivider">---------------------------------------------------------------------------</div>
$table-of-contents$
</nav>
$endif$
<div>
<div class="hdivider">---------------------------------------------------------------------------</div>
<h2 id="find-me-elsewhere">Find me elsewhere</h2>
<div class="hdivider">---------------------------------------------------------------------------</div>
<address>
<ul>
  <li><a href="https://matrix.to/#/@nichobi:matrix.org">Matrix</a></li>
  <li><a href="mailto:nicholas@isacsson.se">Email</a></li>
  <li><a href="https://social.spejset.org/@nichobi" rel="me">Mastodon</a></li>
  <li><a href="https://github.com/nichobi">GitHub</a></li>
  <li><a href="https://listenbrainz.org/user/nichobi">ListenBrainz</a>/<wbr><a href="https://last.fm/user/nichobi">Last.fm</a></li>
  <li><a href="https://bookwyrm.social/user/nichobi">Bookwyrm</a>/<wbr><a href="https://app.thestorygraph.com/profile/nichobi">StoryGraph</a></li>
  <li><a href="https://signal.me/#u/nichobi.01">Signal</a></li>
  <li><a href="https://line.me/ti/p/JasTE0Oxjn">Line</a></li>
  <li><a href="https://discordapp.com/users/193433722756923394">Discord</a></li>
  <li><a href="https://linkedin.com/in/nichobi">LinkedIn</a></li>
  <li><a href="https://lounge.nintendo.com/friendcode/1335-8825-1216/Cvg6NzZwcy">Nintendo Switch</a></li>
</ul>
</address>
</div>
</details>
<div class="hdivider">---------------------------------------------------------------------------</div>
</div>
