@font-face {
  font-family: 'Playwrite GB S';
  src: url('/PlaywriteGBS-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
}

:root {
  --deep-green: oklch(53.25% 0.1257 135.26);
  --beige: oklch(96.54% 0.0484 92.35);
  --darker-beige: oklch(92.07% 0.0508 84.59);
  --foreground: black;
  --foreground-banner: white;

  --sidenav-width: 260px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --deep-green: oklch(54.25% 0.1257 135.26);
    --beige: oklch(20% 0 0);
    --darker-beige: oklch(16% 0 0);
    --foreground: white;
  }
}

body {
  font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  overflow-wrap: break-word;
  color: var(--foreground);
  background-color: var(--beige);
}

* {
  box-sizing: border-box /* Sizes include padding */
}

.main {
  max-width: 960px;
  margin: auto;
  padding: 16px;
  padding-left: calc(var(--sidenav-width) + 16px);
}

.sidenav {
  background: var(--darker-beige);
  height: 100%;
  width: var(--sidenav-width);
  position: fixed;
  top: 0;
  padding: 16px;
  padding-bottom: 32px;
  z-index: 1; /* Stay on top */
  overflow-y: scroll;
}

.banner{
  background: var(--deep-green);
  top: 0;
  left: 0;
  color: var(--foreground-banner);
  max-width: 100%;
  font-size: 48px;
  font-family: 'Playwrite GB S', 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
  font-style: italic;
  margin-left: var(--sidenav-width);
  padding: 16px;
}

a {
  color: var(--deep-green);
}

img {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.hflex {
  display: flex;
  gap: 1ch;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 400;
}

pre.ascii {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 400;
}

li {
  margin: 2px 0;
}

/* Use indentation for paragraph separation */
p {
  margin-bottom: 0;
}
p + p {
  text-indent: 3ch;
  margin-top: 0;
}

.image-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.widetall {
  grid-template-columns: 16fr 9fr;
}
.tallwide {
  grid-template-columns: 9fr 16fr;
}

.comments {
  margin-top: 5em;
}
.comments > article {
  border-style: none none none solid;
  border-color: var(--darker-beige);
  padding: 8px;
  padding-left: 12px;
  margin-top: 8px;
}
.indent1 {
  margin-left: 2ch;
}
.indent2 {
  margin-left: 4ch;
}

@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    position: relative;
  }
  .banner {
    margin-left: 0;
  }
  .main {
    margin-top: 0;
    padding-left: 16px;
  }
  .vdivider {
    display: none;
  }
}
