body {
  font-family: 'Source Code Pro', 'source-code-pro', 'Hack', 'monospace';
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: black;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  overflow-wrap: break-word;
}
@font-face {
  font-family: 'Source Code Pro';
  font-weight: 600;
  src: url(font.otf) format('opentype');
}
a {
  color: #0071ff;
  overflow-wrap: break-word;
}
a:hover {
  color: #0042b6;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
  scroll-margin-top: 10rem; /* Scroll past banner when scrolling to header */
}
.hflex {
  display: flex;
  gap: 1ch;
  align-items: center;
  flex-wrap: wrap;
}
img {
  max-width: 80ch;
  width: 100%;
  height: auto;
}
ascii { /* ascii blocks preserve all whitespace */
  white-space: pre;
  role: img;
}
.sidenav {
  margin-top: 1em;
  height: 100%; /* Full-height */
  width: 20ch; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
}
.hdivider {
  overflow: hidden;
  margin-left: -1ch;
  white-space: nowrap;
}
.vdivider {
  height: 100%;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow: hidden; /* Disable scroll */
  overflow-x: hidden; /* Disable horizontal scroll */
  margin-left: 20ch; /* Same as the width of the sidebar */
}
.banner {
  background: black;
  position: fixed;
  margin-left: 21ch; /* Same as the width of the sidebar */
  z-index: 1;
  top: 0;
}
.comments {
  margin-top: 5em;
}
.indent1 {
  margin-left: 2ch;
}
.indent2 {
  margin-left: 4ch;
}
main {
  margin-top: 10em;
  margin-left: 22ch; /* Same as the width of the sidebar */
  margin-right: 1ch;
  margin-bottom: 5em;
}
* {
  /* Disable scrollbar, Firefox doesn't support thin or transparent scrollbars */
  scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background: #90909070;
}
::-webkit-scrollbar-track {
  background: #00000000;
}

/* Minimisable sidenav styling */
summary.hamburger{
  margin-left: 1ch;
  list-style-type: "☰ ";
}
details[open] .closed {
  display: none;
}
details .open {
  display: none;
}
details[open] .open {
  display: inline;
}
ul {
  list-style-type: '- ';
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 1ch;
  padding-left: 3ch;
}

/* Low-width layout moves sidebar to the top */
@media screen and (max-width: 700px) {
  .sidenav {
    margin-top: 9em;
    height: auto;
    width: 100%;
    float: none;
    position: relative;
    display: inline-grid;
    overflow-x: hidden;
  }
  .banner {
    margin-left: 0;
  }
  main {
    margin-top: 0;
    margin-left: 1ch;
  }
  .vdivider {
    display: none;
  }
}
