body {
  font-family: 'Source Code Pro', 'source-code-pro', 'Hack', 'monospace';
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: black;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  overflow-wrap: break-word;
  display: grid;
  grid-template-areas:
    'sidenav vdivider banner'
    'sidenav vdivider main';
  overflow: hidden;
  height: 100vh;
}
@font-face {
  font-family: 'Source Code Pro';
  font-weight: 600;
  src: url(font.otf) format('opentype');
}
a {
  color: #0071ff;
  overflow-wrap: break-word;
}
a:hover {
  color: #0042b6;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
p {
  margin-bottom: 0;
}
/* Use indentation for paragraph separation */
p + p {
  text-indent: 2ch;
  margin-top: 0;
}
.hflex {
  display: flex;
  gap: 1ch;
  align-items: center;
  flex-wrap: wrap;
}
address {
  font-style: normal;
}
img {
  max-width: 80ch;
  width: 100%;
  height: auto;
}
ascii { /* ascii blocks preserve all whitespace */
  white-space: pre;
  role: img;
}
pre {
  margin: 0;
}
code {
  font-family: 'Source Code Pro', 'source-code-pro', 'Hack', 'monospace';
}
.sidenav {
  background: black;
  width: 20ch;
  z-index: 1;
  overflow-y: scroll;
  grid-area: sidenav;
}
.sidenav ul {
  margin-bottom: 1em;
}
.sidenav h2 {
  font-size: 1em;
  margin: 0 1ch;
}
.hdivider {
  overflow: hidden;
  margin-left: -1ch;
  white-space: nowrap;
}
.vdivider {
  background: black;
  z-index: 3; /* Stay on top */
  overflow: hidden; /* Disable scroll */
  grid-area: vdivider;
}
.banner {
  background: black;
  z-index: 2;
  grid-area: banner;
  overflow-x: hidden
}
.comments {
  margin-top: 5em;
}
.indent1 {
  margin-left: 2ch;
}
.indent2 {
  margin-left: 4ch;
}
.main {
  margin: 0 1ch;
  padding-bottom: 5em;
  overflow-y: scroll;
  grid-area: main;
}
* {
  /* Disable scrollbar, Firefox doesn't support thin or transparent scrollbars */
  scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background: #90909070;
}
::-webkit-scrollbar-track {
  background: #00000000;
}

/* Minimisable sidenav styling */
summary.hamburger{
  padding: 1em 1ch;
  margin: 0;
  list-style-type: "☰ ";
}
details[open] .closed {
  display: none;
}
details .open {
  display: none;
}
details[open] .open {
  display: inline;
}
ul {
  list-style-type: '- ';
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 1ch;
  padding-left: 3ch;
}

/* Low-width layout moves sidebar inline */
@media screen and (max-width: 75ch) {
  body {
    grid-template-areas:
      'banner'
      'sidenav'
      'main';
    overflow: scroll;
    height: 100%;
  }
  .sidenav {
    width: 100%;
  }
  .vdivider {
    display: none;
  }
}

